@mixin container-paddings($width) {
    min-width: $width;
    padding: 0 calc((100vw - #{$width}) / 2);
}

@mixin container-responsive() {
    min-width: 100%;
    padding: 0 10px;

    @include from-xs-width {
        padding: 0 10px;
    }

    @include from-sm-width {
        padding: 0 20px;
    }

    @include from-md-width {
        padding: 0 40px;
    }
    @include from-lg-width {
        @include container-paddings($lg-container-width);
    }

    @include from-xl-width {
        @include container-paddings($xl-container-width);
    }
}