$default-width: 320px;
$xs-width: 375px;
$sm-width: 414px;
$md-width: 768px;
$lg-width: 1024px;
$xl-width: 1440px;

/* CONTAINER SIZE VARIABLES	*/
$container-width: 300px;
$xs-container-width: 335px;
$sm-container-width: 374px;
$md-container-width: 728px;
$lg-container-width: 986px;
$xl-container-width: 1300px;

/* COLORS */
$main-bg-color: #eef1f5;
$main-text-color: #0b0c0d;
$secondary-text-color: #959ba3;