@import 'vars';
@import 'media';

.menu-toggle[aria-controls="primary-menu"] {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 10px;

	min-width: 25px;
	height: 20px;

	background-color: transparent;

	padding: 0;
	border: none;
	outline: none;

	position: relative;

    transition: all ease-in-out 0.5s;

    @include from-md-width {
        display: none;
    }

    &:hover {
        cursor: pointer;
    }

    &:before, &:after {
        position: absolute;
        content: ' ';
        width: 3px;

        background-color: #0b0c0d;

        transform: rotate(90deg);

        transition: all ease-in-out 0.3s;
    }

    &:before {
        height: 25px;
        transform: translateY(calc(-25px / 4)) translateX(calc(25px / 2)) rotate(90deg);
    }

    &:after {
        height: 12.5px;
        transform: translateY(calc(25px / 4)) translateX(calc(12.5px / 2)) rotate(90deg);
    }

    &.is-open {
        &:before,
        &:after {
            height: 20px;
        }

        &:before {
            transform: translateX(calc(25px / 2)) rotate(135deg);
        }

        &:after {
            transform: translateX(calc(25px / 2)) rotate(45deg);
        }
    }
}