@import '../vars';
@import '../media';
@import '../mixins';

.article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    min-height: 315px;

    margin-bottom: 50px;

    position: relative;

    &:hover {
        cursor: pointer;
        .article__thumbnail {
            transform: translateY(-3px);
            box-shadow: 0px 30px 60px rgba(0,0,0,0.17);
        }
    }

    &__header {
        display: flex;
        flex-direction: row;
    }

    &__title {
        margin: 0;
        padding: 0;

        a {
            text-decoration: none;
            color: $main-text-color;
            font-weight: 300;
        }
    }

    &__info {
        min-width: 66.6%;
        min-height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding: 20px;
    }


    &__content-part {
        p {
            font-weight: 300;
        }
    }

    &__tags {
        display: flex;
        justify-content: flex-start;
    }

    &__tag {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;

        color: $secondary-text-color;
        text-decoration: none;
        font-size: 14px;
        font-weight: 300;

        transition: all 0.37s cubic-bezier(0.52, 0.01, 0.16, 1);

        &:not(:last-child) {
            margin-right: 10px;
        }

        &:before {
            height: 2px;
            width: 100%;
            position: absolute;
            bottom: -3px;
            left: 0;
            content: '';
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: left;
            transform-origin: left;
            -webkit-transition: transform 0.37s cubic-bezier(0.52, 0.01, 0.16, 1);
            transition: transform 0.37s cubic-bezier(0.52, 0.01, 0.16, 1);

            background: $main-text-color;
        }

        &:hover {
            color: $main-text-color;

            &:before {
                transform: scaleX(1);
            }
        }
    }

    // &__button {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;

    //     width: 180px;
    //     min-width: 100px;
    //     min-height: 60px;

    //     background-color: $main-text-color;
    //     color: #fff;

    //     font-size: 14px;
    //     font-weight: 700;
    //     text-decoration: none;

    //     border-radius: 4px;
    //     outline: none;

    //     transform: translateY(0);
    //     transition: all ease-in-out 0.3s;

    //     &:hover {
    //         cursor: pointer;
    //         transform: translateY(-3px);
    //     }
    // }

    &__thumbnail {
        display: flex;
        justify-content: center;
        align-items: center;

        min-width: 33%;

        border-radius: 4px;
        overflow: hidden;

        background-size: cover;

        position: relative;
        transform: translateY(0);

        transition: all cubic-bezier(.2,1,.22,1) 0.37s;
    }

    &__author {
        display: flex;
        justify-content: flex-start;
        margin-right: auto;

        position: relative;

        &-avatar {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 38px;
            height: 38px;

            border-radius: 50%;
            overflow: hidden;
        }

        &-data {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 10px;
        }

        &-name {
            margin: 0;
            font-weight: 400;

            a {
                color: $main-text-color;
                text-decoration: none;
            }
        }

        &-post_date {
            margin: 0;
            font-weight: 300;
            font-size: 12px;
        }
    }

    &__entire {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}